# IDE specific files
.idea/
*.iml

# Build directories
cmake-build-debug/
cmake-build-release/
build/
docs/
cmake-build*


CMakeFiels/
CMakeCache.txt


# Compiled binary files
*.o
*.obj
*.so
*.exe
*.ignore
*.ini
*.qrc

# System-specific files
.DS_Store
Thumbs.db
